<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,400&display=swap");
</style>

<div class="grid-container">
  <div class="sidebar">
    <div class="imagen">
      <img src="../../../assets/logo.png" alt="Logo" />
      <h1>Ethan Lozano</h1>
      <p>Thechnology enthusiast | CTF Player | Programmer</p>
    </div>
    <ul>
      <li><img src="../../../assets/github.svg" alt="github" /> Github</li>
      <li><img src="../../../assets/gmail.svg" alt="gmail" /> Gmail</li>
      <li><img src="../../../assets/posts.svg" alt="posts" /> Posts</li>
    </ul>
  </div>
  <div class="web-content">
    <div class="slider">
      <h1>Proyectos</h1>
      <div class="slider-container">
        <div class="slider-headers">
          <div class="button-left" (click)="getPrev()">
            <img src="../../../assets/flecha-correcta.svg" alt="" />
          </div>
          <div class="button-right" (click)="getNext()">
            <img src="../../../assets/flecha-correcta.svg" alt="" />
          </div>
          <div class="sombra-headers">
            <h1>{{ slider[i].titulo }}</h1>
            <p>{{ slider[i].descripcion }}</p>
          </div>
          <img src="{{ getSlide() }}" alt="slides" />
        </div>
      </div>
    </div>
    <div class="aboutme">
      <h1>About me</h1>
      asdasdjkahjkdhj
      <h1>About me</h1>
      asdasdjkahjkdhj
      <h1>About me</h1>
      asdasdjkahjkdhj
      <h1>About me</h1>
      asdasdjkahjkdhj
      <h1>About me</h1>
      asdasdjkahjkdhj
      <h1>About me</h1>
      asdasdjkahjkdhj
      <h1>About me</h1>
      asdasdjkahjkdhj
    </div>
  </div>
</div>
