* {
  font-family: "Kanit", sans-serif;
}
body {
  margin: 0 auto !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 15vw auto;
  background-color: rgb(21, 0, 43);
  color: white;
}

.grid-container > div {
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5vw;
}

.grid-container > .sidebar {
  flex-direction: column;
  background-color: rgb(31, 0, 65);
  height: 100vh;
  max-height: 99vh;
  position: sticky !important;
  top: 0px;
}

.imagen img {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

.imagen h1 {
  font-size: 1.75vw;
}

.imagen p {
  font-size: 0.7vw;
  color: rgb(201, 201, 201);
}

.sidebar > .imagen {
  margin-top: 3vh;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0 !important;
  width: 100% !important;
}
.sidebar > ul > li {
  background-color: rgb(76, 0, 255);
  color: rgb(100, 255, 113);
  width: 100% !important;
  height: 5vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 !important;
  margin: .5vh 0vh;
  font-size: 1vw;
}

.sidebar > ul > li > img {
  margin: 0px 1.2vw;
  filter: brightness(1) invert(1);
  width: 2vw;
}

.sidebar > ul > li:hover {
  background-color: rgb(31, 0, 102);
  -webkit-box-shadow: inset 0px 0px 40px 3px rgba(68, 55, 255, 0.644);
  -moz-box-shadow: inset 0px 0px 40px 3px rgba(68, 55, 255, 0.644);
  box-shadow: inset 10px 0px 40px 3px rgba(68, 55, 255, 0.644);
  cursor: pointer;
  transition: all 0.3s;
}

.grid-container > .web-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  height: 90vh;
  overflow: auto;
}
.web-content::-webkit-scrollbar {
  background: rgba(0, 0, 0, 1);
}

.grid-container > .web-content::-webkit-scrollbar {
  display: none;
}

.web-content > div {
  margin-bottom: 6vh;
  width: 100%;
  height: auto;
  text-align: justify;
}

/** Slider **/

.slider-container {
  width: 100%;
  background-color: red;
  display: grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: auto;
  user-select: none;
}

.slider-headers {
  width: 100%;
  min-height: 60vh;
  max-height: 60vh;
  position: relative;
}

.slider-headers > img,
.sombra-headers {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sombra-headers {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.603);
  width: 100%;
  height: 35%;
  bottom: 0;
  padding: 20px;
}

.sombra-headers > h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px 20px;
}

.sombra-headers > p {
  font-size: .7vw;
  padding: 0px 25px;
}

.button-left {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 7rem;
  font-weight: bold;
  opacity: 0;
  transition: ease-out 0.6s;
}

.button-right {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 7rem;
  font-weight: bold;
  opacity: 0;
  transition: ease-in-out 0.6s;
}

.button-right img {
  width: 3vw;
  padding: 10px;
  border-radius: 50%;
  filter: brightness(1) invert(1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.1s;
}

.button-left img {
  width: 3vw;
  padding: 10px;
  border-radius: 50%;
  filter: brightness(1) invert(1);
  transform: rotate(180deg);
  transition: ease-in-out 0.1s;
}

.button-left:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}

.button-right:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 212, 255, 0) 100%
  );
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}

.web-content div h1 {
  font-size: 3.5vh;
  transition: all ease-in-out .3s;
}
.web-content div h1:after{
  transition: all ease-in-out .3s;
    background: none repeat scroll 0 0 rgb(100, 255, 113);
    content: "";
    display: block;
    height: 1px;
    width: 0;
}
.web-content div h1:hover:after {
  width: 100%;
}

.web-content div h1:hover {
  transition: all 0.9s;
  cursor: pointer;
}

h4 {
  width: 100%;
  background-color: red;
  margin: 0 auto;
}

.aboutme h1 {
  text-align: left;
}

.social {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item div {
  background-color: red;
  width: 20px;
  height: 20px;
}

.social-item img {
  filter: brightness(0) invert(1);
  width: 80%;
}

.aboutme-div{
  width: 100%;
  height: 100%;
  font-size: 1vw;
  
}

.cards {
  display: flex;
  justify-content: center;
}

.cards_item {
  height: 150px;
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0vw 1vw;
  background-color:  rgb(76, 0, 255);
  border-radius: 5%;
  transition: all ease-in-out .3s;
  border: 1px solid transparent;

}

.cards_item img{
  width: 100px;
}

.cards_item:hover{
  transition: all ease-in-out .3s;
  box-shadow: -1px 6px 20px -1px rgba(77,30,240);
  -webkit-box-shadow: -1px 6px 20px -1px rgba(77,30,240);
  -moz-box-shadow: -1px 6px 20px -1px rgba(77,30,240);
  border: 1px solid white;
  cursor: pointer;
  transform: translateY(-20px);
}

