<div class="grid-container">
    <div class="sidebar">
      <div class="imagen">'Imagen'</div>
      <ul>
        <li>Home</li>
        <li>Projects</li>
        <li>About me</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="web-content">
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
      <div class="slider">Slider</div>
    </div>
</div>