<style>
  @import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300;1,400&display=swap");
</style>

<div class="grid-container">
  <div class="sidebar">
    <div class="imagen">
      <img src="../../../assets/logo.png" alt="Logo" />
      <h1>Ethan Lozano</h1>
      <p>Thechnology enthusiast | CTF Player | Programmer</p>
    </div>
    <ul>
      <li><img src="../../../assets/posts.svg" alt="posts" /> Posts</li>
      <li><img src="../../../assets/github.svg" alt="github" /> Github</li>
      <li><img src="../../../assets/gmail.svg" alt="contact" /> Contact</li>
    </ul>
  </div>
  <div class="web-content">
    <div class="slider">
      <h1>Proyectos</h1>
      <div class="slider-container">
        <div class="slider-headers">
          <div class="button-left" (click)="getPrev()">
            <img src="../../../assets/flecha-correcta.svg" alt="" />
          </div>
          <div class="button-right" (click)="getNext()">
            <img src="../../../assets/flecha-correcta.svg" alt="" />
          </div>
          <div class="sombra-headers">
            <h1>{{ slider[i].titulo }}</h1>
            <p>{{ slider[i].descripcion }}</p>
          </div>
          <img src="{{ getSlide() }}" alt="slides" />
        </div>
      </div>
    </div>
    <div class="aboutme">
      <h1>About me</h1>
      <div class="aboutme-div">
        <h3>Hey!</h3>
        <p>Mi nombre es Ethan, soy un apasionado por las tecnologias, actualmente tengo 22 años y actualmente sigo mejorando mis habilidades en mi tiempo libre.</p>
        <p>Soy una persona muy curiosa, ademas de programacion tambien me encanta la ciberseguridad, por lo que podreis ver tanto mis proyectos de programacion como mis posts de ciberseguridad y CaptueTheFlag</p>
        <h3 style="padding:40px 40px 40px 0px">Actualmente puedo trabajar con las siguientes tecnologias:</h3>
        <div class="cards">
          <div class="cards_item"><img src="../../../assets/icons/html5.svg" alt="html">HTML</div>
          <div class="cards_item"><img src="../../../assets/icons/css3.svg" alt="css">CSS</div>
          <div class="cards_item"><img src="../../../assets/icons/js.svg" alt="javascript">JAVASCRIPT</div>
          <div class="cards_item"><img src="../../../assets/icons/java.svg" alt="java">JAVA</div>
          <div class="cards_item"><img src="../../../assets/icons/mysql.svg" alt="mysql">MYSQL</div>
          <div class="cards_item"><img src="../../../assets/icons/angular.png" alt="angular">ANGULAR</div>
          <div class="cards_item"><img src="../../../assets/icons/python.svg" alt="python">PYTHON</div>
          <div class="cards_item"><img src="../../../assets/icons/php.svg" alt="php">PHP</div> 
        </div>
      </div>
      
    </div>
  </div>
</div>
