.container{
    display: flex;

}

.sidebar{
    width: 30vh;
    height: 98vh;
    background-color: #005227;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.web-content{
    width: 100%;
    height: 98vh;
    background-color: #012914;
    display: flex;
    padding-left: 2em;
}
.image{
    width: 100%;
    height: 25%;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;

}
.elements{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    padding: 0px!important;

}
li{
    width: 100%;
    height: 5vh;
    background-color: #038554;
    color: #a4fff7;
    margin-top: 10px;
    line-height: 5vh;
}
